@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: Open-Sans-Light;
    src: url('fonts/Open_Sans/OpenSans-Light.ttf');
  }
  @font-face {
      font-family: Open-Sans-Regular;
      src: url('fonts/Open_Sans/OpenSans-Regular.ttf');
  }
  @font-face {
    font-family: Open-Sans-Bold;
    src: url('fonts/Open_Sans/OpenSans-Bold.ttf');
  }
}

@layer components {

  .socialMenuScroll{
    @apply flex md:block mb-2 md:mb-0 static md:absolute md:top-2 md:-ml-16 z-40;
  }

  .socialMenuFixed{
    @apply flex md:block mb-2 md:mb-0 static md:fixed md:top-2 md:-ml-16 z-40;
  }

  .socialMenuItem{
    @apply block mr-2 mb-2 w-10 h-10 bg-gray-300 text-center rounded-full opacity-50 duration-300 hover:bg-yellow-400 hover:opacity-100;
  }

  .blogMainHeader{
    @apply my-4 text-2xl sm:text-4xl font-bold font-openSansBold sm:leading-normal opacity-70
  }

  .blogPara{
    @apply mb-4 opacity-80;
  }

  .blogList{
    @apply list-disc pl-8 mb-4 opacity-80;
  }

  .blogSubHeader{
    @apply mb-4 text-2xl sm:text-3xl font-bold font-openSansBold sm:leading-normal opacity-80;
  }

  .blogLink{
    @apply block mb-4 text-xl sm:text-2xl font-bold font-openSansBold underline opacity-80;
  }

  .blogFigure{
    @apply py-4 px-8 mb-4;
  }

  .recImg{
    @apply w-full mb-6 rounded-sm;
  }

  .recCate{
    @apply block uppercase text-sm mb-3;
  }

  .recTitle{
    @apply font-bold font-openSansBold text-2xl opacity-80;
  }

  .recMeta{
    @apply flex mt-4 text-sm;
  }

  .recAuthor{
    @apply block text-red-400 pr-2 mr-2 border-r-2 border-black;
  }


  /* customizing the carousel nav btns */
  .recContainer.owl-carousel .owl-next,
  .recContainer.owl-carousel .owl-prev{
    font-size: 50px!important;
    line-height: 80px!important;
    padding: 20px!important;
    background-color: transparent!important;
    outline: none!important;
    font-weight: 300!important;
    position: absolute!important;
    top: 50%!important;
    right: 0!important;
    opacity: .6!important;
    transition: .3s!important;
  }

  .recContainer.owl-carousel .owl-next:hover,
  .recContainer.owl-carousel .owl-prev:hover{
    color: #000!important;
    opacity: 1!important;
  }

  .recContainer.owl-carousel .owl-prev{
    left: 0!important;
    right: auto!important;
  }
}